<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.dwyaneramos.jobhuntwidget.scraper</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/dwyaneramos/Code/job_hunt/scraper/venv/bin/python</string>
		<string>/Users/dwyaneramos/Code/job_hunt/scraper/scraper.py</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/dwyaneramos/Code/job_hunt/scraper</string>
	<key>StartInterval</key>
	<integer>7200</integer>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/Users/dwyaneramos/Code/job_hunt/scraper/scraper.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/dwyaneramos/Code/job_hunt/scraper/scraper.err.log</string>
</dict>
</plist>
